/* Mobile-first styles. */
.utnews--teaser-variation.utnews-news .utnews__published {
  display: inline-block;
  font-style: italic;
  font-size: .9rem;
}
.utnews--teaser-variation.utnews-news .utnews__thumbnail {
  margin: 1rem 0 0 20px;
  float: right;
  max-width: 140px;
  min-width: 120px;
  width: 33%;
}

/* Second to last child has bottom margin, unless it is .utnews__thumbnail */
.utnews--teaser-variation.utnews-news > div > :nth-last-child(2):not(.utnews__thumbnail) {
  margin-bottom: 8px;
}

/* Prevent last element in .ut-copy (nested to 3 levels) from having bottom
margin. */
.utnews--teaser-variation.utnews-news > div > :last-child,
.utnews--teaser-variation.utnews-news > div > :last-child > :last-child,
.utnews--teaser-variation.utnews-news > div > :last-child > :last-child > :last-child,
.utnews--teaser-variation.utnews-news > div > :last-child > :last-child > :last-child :last-child {
  margin-bottom: 0;
}

/* Tablet styling */
@media screen and (min-width: 600px) {
  .utnews--teaser-variation.utnews-news .utnews__thumbnail {
    max-width: 190px;
  }
}
