/* Mobile-first styles. */
.teaser.utnews-news {
  padding: 0 0 1.5rem 0;
}
.utnews-news h3.ut-headline {
  margin-bottom: 0;
  padding-bottom: 0;
}
.utnews-news .utnews__published {
  margin-bottom: .5rem;
  display: inline-block;
  font-style: italic;
  font-size: 14px;
}
.teaser .utnews__thumbnail {
  margin: 10px 0 5px 20px;
  float: right;
  max-width: 140px;
}
/* Set /news page images width for small screens. */
.views-field-utnews-listing-search-api .utnews__thumbnail {
  min-width: 120px;
  width: 33%;
}
/* Tablet styling */
@media screen and (min-width: 600px) {
  .teaser .utnews__thumbnail {
    min-width: 112px;
  }
  /* Set /news page images width for tablet and desktop screens. */
  .views-field-utnews-listing-search-api .utnews__thumbnail {
    width: 190px;
    max-width: unset;
  }
  .teaser.utnews-news .ut-headline {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

/* Desktop styling */
@media screen and (min-width: 900px) {
  .teaser.utnews-news .ut-headline {
    line-height: 1.25rem;
  }
}
